#main_div {
    border: 1px solid white;
    margin-top: 30px;

}

#player_stream {
    border: 1px solid white;
    width: 90%;
    /* height: 600px; */
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

#movie_infos {
    border: 1px solid red;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
    display: flex;

}

.mini_info  img {
    width: 10vw;
}
.infos {
    border: 1px solid green;
    margin-left: 15px;
}

#infos_title {
    color: white;
    font-size: 1.6em;
}

#rty_infos {
    color: white;
    opacity: 0.6;
    margin-top: 10px;
    font-size: 0.8em;
}

#synopsys_title {
    color: white;
    margin-top: 10px;
    /* font-size: 1.1em; */
}

#synopsys {
    color: white;
    opacity: 0.6;
    margin-top: 10px;
}

#more_infos {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    position: relative;
    bottom: 20px;
}


#genre {
    color: white;
}

#span_genre {
    opacity: 0.6;
}


#genre span {
    color: white;
}
#trailer_button {
    margin-top: 15px;
}

#trailer_button button {
    width: 250px;
    height: 30px;
    background-color: rgb(240, 110, 32);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.9em;
}

#play_button {
    width: 10%;
    margin-right: 5px; 
}

#cast_div {
    color: white;
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 1.2em;
}

.cast_name {
    font-size: 0.9em;
    opacity: 0.8;
}

.person_icon {
    width: 1%;
    margin-right: 3px;
    opacity: 0.5;
}

#title_suggestions {
    color: white;
    font-size: 1.2em;
    margin-top: 15px;
    margin-bottom: 15px;
}

.suggestions_div {
    display: flex;
    justify-content: space-around;
}

.suggestion_movie {
    margin-left: 10px;
    position: relative;
}

.title_movie_suggested {
    color: white;
    position: absolute;
    bottom: 0px;
    text-align: center;
    margin-left: 5px;
}

#form_div {
    border: 1px solid white;
    width: 90%;
    margin: auto;
    margin-bottom: 50px;
}

#title_comment {
    color: white;
}

#comment {
    height: 100px;;
    background-color: rgb(35, 34, 39);
    color: white;
    text-decoration: underline;
}

#comment_button {
    width: 250px;
    height: 30px;
    background-color: rgb(240, 110, 32);
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 0.9em;
}

#all_comment h4 {
    color: white;
}

#all_comment {
    color: lightgrey;
    margin-top: 25px;
}