.page {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.middle {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 400px;
  width: 50vw;
  background-color: grey;
  border-radius: 20px;
}

.your_profile{
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 400px;
  width: 50vw;
  height: 800px;
}

h2 {
  min-width: 400px;
  width: 50vw;
  text-align: center;
}

.big_form_div{
  display: flex;
  justify-content: space-around;
}

#fdp {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.form_div {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.photo_div{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top:50px;
}

.radio2{
  display: flex;
  width: 100px;
  justify-content: space-between;
  padding: 10px;
}

.profile_picture{
  width: 200px;
  height: 200px;
  border-radius: 10%;
  cursor: pointer;
}

.all_profiles{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.other{
  display: block;
}

.one_profile{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

.error{
  color: red;
}

.success{
  color: lightgreen;
}

@media (max-width: 640px) {
  .all_profiles{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
  }
}