#div_name
{
  color: white;
  display: flex;
  justify-content: flex-end;
  margin-right: 15px;
}
.main_banner 
{
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color:black;
  width: 100vw;
}

.main_banner #div_title
{
  margin-left: 30px;
  display: flex;
}

.main_banner #div_menu ul
{
  display: flex;
}

.main_banner #div_menu ul li
{
  list-style-type: none;
  color: white;
  margin-right: 45px;
  font-size: 1.2em;
  cursor: pointer;
}
#div_search_disconnect a {
  display: flex;
  align-items: center;
}


#div_search_disconnect
{
  margin-right: 30px;
  display: flex;
  width: 200px;
  justify-content: center;
}
#div_search_disconnect button{
  width: 80px;
  height: 30px;
  margin: 5px;
}
.main_banner h1
{
  display: flex;
  font-size: 2em;
}

.main_banner button
{
  background-color: rgb(240, 110, 32);
  color: white;
  border-radius: 5px;
  border: none;
}

button:hover
{
  background-color: red;
}

#search
{
  width: 400px;
  height: 35px;
  border-radius: 5px;
  background-size: 22px;
  background-position: 170px;
}

#profile_icon
{
  width: 40px;
  height: 40px;
}

.duck{
  cursor: pointer;
  width: 50px;
  height: 50px;
}

@media (max-width: 640px) {
  #div_title h1{
    display: none;
  }
  #search{
  width: 100px;
  }

}